@import "../../../styles/core/variables.scss";

$viewWidth:320px;

$layoutWidth:120px;

$toolWidth:40px;

#gameView{
  //background-color: $bgGray;
  background-color: #fff;
  margin: auto;
  //width: $viewWidth + $layoutWidth + $padding2 + $toolWidth;
  height: 502px;

  position: relative;

  canvas {
    border: 1px solid #000000;
    width: 320px;
    height: 502px;
  }

  .layouts-box {
    width: $layoutWidth;
    padding: 0 0 5px $padding2;

    position: absolute;
    right: 1px;
    top: -1px;

  }

  .game{
    //margin-left: $toolWidth;
  }
}