@import "../../styles/core/variables";

.contents-box{
  margin: 0 auto;
  margin-top: 40px;

  width: $topWidth;
  overflow: hidden;
  .left-part{
    width: $leftWidth;
    float: left;
  }
  .right-part{
    margin-left: $margin3;
    width: $rightWidth - $margin3;
    float: right;
  }
}