@import "../../../styles/core/variables";

.properties-setting {
  width: 100%;
//  margin-left: $margin2;
//  width: $previewWidth;
//  position: absolute;
//  top: 0;
//  right: 0;

  .setting-item-one {

    > label {
      padding-right: $spriteSettingPrePdr;
      width: $spriteSettingPreWidth;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      color: $grayDeep;

      display: inline-block;
    }

    > input {
      border: none;
      border-bottom: 1px solid $grayDeep;
      border-radius: 0 0 2px 2px;
      padding: 0 0 $padding1 $padding1;
      width: 130px;
      outline: none;
      vertical-align: super;

    }
  }
}