@import "../../../styles/core/variables.scss";

#texturePacker {
  background-color: #fff;

  .top {
    padding: 10px;
    position: relative;
    z-index: 1;

    h3 {

      transform: translate(-50%,0);

      float: left;
      position: relative;
      left: 50%;
    }

    .operations{
      float: right;

      button{
        margin-left: 10px;
      }
    }
    
    &:after{
      content: '';
      display: inline-block;
      clear: left;
    }
  }

  .images-box {

    padding: $padding2;

    .images {
      background-color: #e5e5e5;
      padding: $padding2;
      min-height: 200px;
      overflow: hidden;

      > li {
        background-color: #fff;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 120px;
        height: 189px;
        float: left;
        overflow: hidden;

        position: relative;

        cursor: move;

        .preview-img{
          width: 100%;
        }

        .close{
          background-color: red;
          width: 25px;
          height: 25px;

          display: none;

          position: absolute;
          right: 0;
        }
      }
      > li.add-png{
        background-color: #04BE02;
      }

      > li:hover{

        .close{
          display: block;
        }
      }

      .basic-operations{
        background-color: #f0f0f0;
        width: 100%;
        position: absolute;
        left:0;
        bottom:0;

        font-size: 12px;

        > p{
          display: flex;
        }

        .resize-input{
          box-sizing: border-box;
          padding:2px 5px;
          width: 30%;
          outline:none;
        }
        .resize-btn{
          color: $grayDeep;

          flex: 1;
          width: 20px;
          display: inline-block;
        }
      }
    }
    .images:after{
      content: '';
      clear: both;
      float: left;
    }
  }
}

