@import "../../../styles/core/variables.scss";

#toolsBar {
  padding: 2px;
  width: 30px;

  > ul{
    width: 100%;
    height: 24px;
    line-height:24px;
    font-size: 14px;
    color: #333;

    > li{
      background-color: $grayLight;
      padding: 3px;
      width: 100%;
      cursor: pointer;
    }
  }
}

