<!DOCTYPE html>
<html>
<head>
  <title>MagicalPixi</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="/styles/normalize.css"/>

</head>
<body>
<div id="topContainer">

</div>
</body>

<% if(env==='product'){%>
<script src="/bower_components/pixi.js/bin/pixi.js"></script>
<script src="/bower_components/react/react.js"></script>
<script src="/bower_components/react/react-dom.js"></script>
<% }else{ %>
<script src="/bower_components/pixi.js/bin/pixi.min.js"></script>
<script src="/bower_components/react/react.min.js"></script>
<script src="/bower_components/react/react-dom.min.js"></script>
<% } %>

<script src="/dist/<%- name %>.js"></script>
</html>
