//主题色,微信绿
$themeColor:#04BE02;
$themeActiveColor:#039702;
$themeHoverColor:lighten($themeColor,10%);

//链接色
$linkColor:#459AE9;

//其它层次灰色
$grayDeep:#333;
$gray:#666;
$grayLight:#dedede;

//删除色
$dangerColor:#EF4F4F;

$padding1:5px;
$padding2:10px;
$padding3:15px;
$padding4:20px;
$padding5:25px;
$padding6:30px;

$margin1:5px;
$margin2:10px;
$margin3:15px;
$margin4:20px;
$margin5:25px;
$margin6:30px;

//整体
$topWidth:1000px;
$leftWidth:180px;
$rightWidth:820px;

//预览
$previewWidth:320px;
$previewHeight:504px;
