@import "../../../styles/core/variables";
@import "../../../styles/core/common";

#mpNavbar{
  font-family: Helvetica-Light;
  @include card;
  width: 100%;
  height: 60px;
  @include flex;
  @include flex-direction(row);
  @include align-items(center);
  background-color: white;

  .top-line{
    background-color: $themeColor;
    height: 2px;
    border: none;
  }

  nav{
    margin: 0 auto;
    padding: 10px 0;
    width: $topWidth;
    height: 40px;

    img{
      margin-left: 20px;
      width: 40px;
      height: 40px;
    }

    p {
      font-family: Helvetica-Light;
      margin-left: $margin2;
      height: 40px;
      line-height: 40px;

      color: #000;

      vertical-align: 10px;
      font-size: 34px;
      letter-spacing: 2px;

      display: inline-block;
    }
  }
}
