@import "../../../styles/core/variables.scss";

#consolePanel {

//  background-color: blue;
  border-left: 1px solid $grayDeep;
  width: 600px;

  flex: none;

  $headerHeight:40px;
  > header{
    background-color: #ffffff;
    height: $headerHeight;

    .operations{

      display: flex;
      li{
        flex: 1;

        border-bottom: 1px solid $grayLight;
        border-left: 1px solid $grayLight;

        height: 100%;
        line-height: $headerHeight;
        text-align: center;
        color: $gray;
        font-weight: bold;
      }
      li:first-child{
        border-left: none;
      }
    }

    @mixin active{
      background-color: $themeColor;
      color: #ffffff;
      border-right: 1px solid;
      border-color: $themeActiveColor;

      & + li{
        border-left: none;
      }
    }

    .operations[data-state="material"]{
      li:first-child{
        @include active;
      }
    }
    .operations[data-state="music"]{
      li:nth-child(2){
        @include active;
      }
    }
  }

  .contents{
    padding: $padding4 0 $padding4 $padding4;
  }
}