@import "../../../styles/core/variables.scss";

#editOperations{

  position: absolute;
  top: 20px;
  right: 40px;


  button{
    margin-right: 10px;
  }
  .weui_btn_default{
    background-color: #fff;
  }
}