@import "../../styles/core/variables";

#mpNavbar{

  border-top: 5px solid $themeColor;
  border-bottom: 1px solid $grayLight;

  .top-line{
    background-color: $themeColor;
    height: 2px;
    border: none;
  }

  > nav{
    margin: 0 auto;
    padding: 10px 0;
    width: $topWidth;
    height: 40px;

    > img{
      width: 40px;
      height: 40px;
    }

    > h1 {
      margin-left: $margin2;
      height: 40px;
      line-height: 40px;


      vertical-align: top;
      font-size: 24px;

      display: inline-block;
    }
  }
}