@import "../../../styles/core/variables.scss";

#playerPacker {
  background-color: #fff;
  padding: $padding4;
  width: 700px;

  > h3{
    margin-bottom: $margin2;
    position: relative;
  }
  .title-box{
    width: 150px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
  }
  .save{
    float: right;
  }

  .frames{
    border-bottom: 1px solid $grayLight;
    ol{
      &:after{
        content:'';
        display: block;
        clear: both;
      }
      li{
        background-color: $grayLight;
        border-left: 1px solid $light;
        width: 3em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;

        -webkit-user-select: none;
        cursor: pointer;

        float: left;
      }
      li:first-child{
        border-left: none;
      }
      li:hover{
        background-color: $themeHoverColor;
        color: #ffffff;
      }
      li.active{
        background-color: $themeColor;
        color: #ffffff;
      }
    }
  }

  .setting-box{

    display: flex;
  }

  #previewContainer{
    width: 320px;
    height: 504px;

    canvas{
      background-color: #F0F0F0;
      width: 100%;
      height: 100%;
    }
  }

  .operation{
    flex:1;
    position: relative;


    .setting-box{
      padding: $padding4;

      display: none;

      .select-resource-png{
        width: 100%;

        .pre{
          padding-right:$spriteSettingPrePdr;
          width: $spriteSettingPreWidth;
          text-align: right;
          display: inline-block;
        }

        .basic-resource{
          -webkit-background-size: contain;
          background-size: contain;
          background-repeat: no-repeat;
          width: 100px;
          height: 100px;
          vertical-align: middle;

          display: inline-block;
        }
        img{
          width: 100px;
          vertical-align: middle;
        }
      }
      .setting{
        position: relative;
      }
    }
    .resource{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;

      display: none;
    }
  }
  .operation[data-setting="false"]{

    .resource{
      display: block;
    }
  }
  .operation[data-setting="true"]{
    .setting-box{
      display: block;
    }
  }
}

