@import "core/variables";

@import "all/fonts";
@import "all/index";

body{
  min-height: 680px;
}

.resource-tabs{
  border-bottom: 1px solid $macGray;
}

.top-tools{
  margin-right:$margin2;
  height: 60px;
  line-height: 60px;
}