@import "../../../styles/core/variables.scss";

.cascade-list {

  .layouts {

    > li {
      padding: 5px 5px 5px 0;
      position: relative;

      .children {
        display: none;

        > li {
          padding-left: $padding2;
          color: $gray;
          cursor: default;
          -webkit-user-select: none;

          position: relative;

          .operations {
            position: absolute;
            top: 0;
            right: 0;

            display: none;
            .delete {
              background-image: url(/images/icon/delete.png);
              background-size: cover;
              width: 14px;
              height: 14px;
              display: inline-block;
            }
          }
        }
        > li:hover {
          .operations {
            display: block;
          }
        }

        > li[data-selected="true"] {
          background-color: $bgGray;
        }
      }
    }
    > li {
      &:hover {
        color: $themeHoverColor;
      }

      &[data-selected="true"] {
        color: $themeColor;

        .children {
          display: block;
        }
      }

      &:last-child {
        border: none;
      }

    }
  }

  .add-layout {
    width: 100%;
  }
}