@import "../../../styles/core/variables.scss";

#mpSpritePreviewBox{
  background-color: #ffffff;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: $padding3;
  width: $previewWidth * 1 + $padding3 * 2 + 2px;

  transition: all 0.5s;

  border: 1px solid $gray;

  //box-shadow: 0px 0px 4px $grayDeep;

  position: relative;

  > h3{
    margin-bottom: $margin3;
    color: $grayDeep;
    font-size: 24px;
  }

  .container{
    height: 504px;
    position: relative;
    overflow: hidden;
  }

  .select-resource{
  }

  .line{
    margin:10px;
  }


  .preview-container-box{
    background-color: $grayLight;
    width: $previewWidth;
    height: $previewHeight;
    float: left;

    position: relative;
    z-index: 1;

    #selectBasicResource{
      height: 48%;
    }
  }
  .select-resource{
    height: 100%;
  }
  .preview-container{
    background-color: $grayLight;
    width: 100%;
    height: 100%;

    display: none;
//    position: relative;
//    z-index: 1;
//
//    &:before{
//      content: '点击这里上传';
//      margin-left: -4em;
//      margin-top: -1em;
//      width: 8em;
//      height: 2em;
//      text-align: center;
//      font-size: 20px;
//      font-weight: bold;
//      color: $gray;
//
//      position: absolute;
//      top: 50%;
//      left: 50%;
//    }

    canvas{
      width: 100%;
      height: 100%;
      background-color: $grayLight;
      z-index: 1;
      position: relative;
      display: none;
    }
  }

  .sprite-setting-box{
    margin-left: 10px;
    width: $previewWidth;
    position: absolute;
    top: 0;
    right: 0;
  }


  .operation{
    margin-top: $margin3;
    overflow: hidden;

    button{
      margin-left: $margin2;
      min-width: 80px;

      float: right;
    }
  }
}

#mpSpritePreviewBox[data-init=false]{
  width: $previewWidth * 2 + $padding3 * 2 + 2px + 10px;
  left: 0;

  .select-resource{
    display: none;
  }

  .sprite-setting-box{
    display: block;
  }

  .preview-container{
    display: block;
    canvas{
      display: block;
    }
  }
}

#mpSpritePreviewBox[data-close-preview=true]{

  width: $previewWidth * 1 + $padding3 * 2 + 2px;

  .preview-container-box{
    display: none;
  }
}