@import "../../../styles/core/variables.scss";

#selectBasicResource {
  height: 100%;
  .resources {
    padding: 0 6px;
    height: 100%;
    overflow-y: scroll;
    > li{
      background-color: #fff;
      margin:8px 1% 0 1%;
      border-radius: 4px;
      border: 1px solid $grayLight;
      padding-top: 22%;
      width: 22%;

      overflow: hidden;

      position: relative;

      float: left;

      cursor: pointer;

      img{
        width: 100%;
        position: absolute;
        top: 0;
      }
      .name{
        background-color: #fff;
        border-top: 1px solid $grayLight;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-size: 12px;
        overflow: hidden;

        position: relative;
      }
    }
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
}

