@import "../../styles/core/variables.scss";

.edit-text {
  cursor: pointer;
  width: 100%;
  min-width: 4em;

  position: relative;
  display: inline-block;

  .text{
    white-space: nowrap;
  }

  .operations{
    position: absolute;
    right: 0;
    top: 0;
    display: none;


    > * {
      vertical-align: middle;
      display: block;
    }

    .edit{
      background-image: url(/images/icon/edit_pen.png);
      background-size: cover;
      width: 20px;
      height: 20px;
      display: inline-block;

    }
  }

  .edit-box {
    background-color: #fff;
    border: 1px solid $gray;
    padding: $padding1;

    position: absolute;
    top: 0px;

    z-index: 1;

    display: none;

    .name {
      box-sizing: border-box;
      padding: $padding1;
      width: 100%;

      outline: none;
    }

    .action-buttons{
      padding: $padding1 0;
      button{
        font-size: 12px;
        float: left;
      }
      button:first-child{
        float: right;
      }
    }
  }
}
.edit-text:hover{
  .operations{
    display: block;
  }
}
.edit-text[data-state="normal"]{
}
.edit-text[data-state="edit"]{
  min-height: 77px;
  .edit-box{
    display: block;
  }
}