@import "../../styles/core/variables.scss";

.cascade-list{

  .layouts{

    > li{
      padding: 5px 5px 5px 0;
      position: relative;

      .children {
        padding-left: $padding2;
        display: none;
        > li {
          color: $gray;
        }
      }
    }
    > li{
      &:hover{
        color: $themeHoverColor;
      }

      &[data-selected="false"]{
      }

      &[data-selected="true"]{
        color: $themeColor;
        .children{
          display: block;
        }
      }

      &:last-child{
        border: none;
      }
      
    }
  }

  .add-layout{
    width: 100%;
  }
}