@import "../../styles/core/variables.scss";

.cascade-list{

  .layouts{

    > li{
      padding: 5px 5px 5px 0;


      .children {
        padding-left: $padding2;
      }

      &:hover{
        color: $themeHoverColor;
      }

      .children {

        > li {
          color: $grayDeep;
        }
      }
    }
    > li[data-selected="true"]{
      color: $themeColor;
    }
    > li:last-child{
      border: none;
    }
  }

  .add-layout{
    width: 100%;
  }
}